vmx_controller32
vmx_client64

*.deb
*.log
*.zip
*.core
core
core.*

*_context.txt
completion_context.txt
hal_api_inventory.txt
input_capture_api.txt
led_isolation_result.txt

vmx-controller.service

.DS_Store
.idea/
.vscode/
